/* Global */
@font-face {
    font-family: tommyMedium;
    src: url("../fonts/MADE-Tommy-Medium.otf");
}
@font-face {
    font-family: tommyLight;
    src: url("../fonts/MADE-Tommy-Light.otf");
}
@font-face {
    font-family: tommyBold;
    src: url("../fonts/MADE-Tommy-Bold.otf");
}
body{
    font-family: tommyLight, sans-serif;
    background: #F4F6FB;
}

iframe{
    display: none;
  }

.title{
    font-family: tommyBold, sans-serif;
    font-size: 60px;
    color: black;
    padding-bottom: 30px;
    line-height: 60px;
}
.medium-title{
    font-family: tommyBold, sans-serif;
    font-size: 30px;
    color: black;
}
.small-title{
    font-family: tommyBold, sans-serif;
    font-size: 23px;
    color: black;
    text-align: left;
}
/* Palette Page */
.palettes{
    padding-top: 100px;
}

.palette-float{
    padding: 10px 6px 3px 10px;
    border-radius: 7px;
    background: white;
    width: 100%;
    position: absolute;

}
.palette-float-info{
    padding: 15px;
    border-radius: 7px;
    background: white;
    width: 100%;
    height: 490px;
}
.palette-float-large{
    padding: 10px 5px 10px 10px;
    border-radius: 7px;
    background: white;
    width: 100%;
    position: absolute;

}
.paddingFix{
    padding-bottom: 300px;
}

.paddingFixLarge{
    padding-bottom: 540px;
}

.paddingFixLargeCreate{
    padding-bottom: 540px;
}


.paddingFix-large{
    padding-bottom: 520px;
}

@media only screen and (max-width: 1200px) {
    .paddingFix-large{
        padding-bottom: 650px;
    }
    .paddingFix{
        padding-bottom: 350px;
    }
    .palette-float-info{
        margin-bottom: 25px;
    }
    .paddingFixLargeCreate{
        padding-bottom: 300px;
    }
    
}
@media only screen and (max-width: 1000px) {
    .paddingFix-large{
        padding-bottom: 500px;
    }
    .paddingFix{
        padding-bottom: 275px;
    }
    .palette-float-info{
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 760px) {
    .paddingFix-large{
        padding-bottom: 380px;
    }
    .paddingFix{
        padding-bottom: 220px;
    }
    .palette-float-info{
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 600px) {
    .paddingFix-large{
        padding-bottom: 285px;
    }
    .paddingFix{
        padding-bottom: 300px;
    }
    .palette-float-info{
        margin-bottom: 45px;
    }
}

.block{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 33%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.btn-like{
    padding: 0px;
    background: none;
    border: none;
    margin-top:5px;
    font-family: tommyMedium, sans-serif;
}

.time{
    text-align: right;
    padding-top:5px;
    color: gray;
    font-size: 15px
    
}

.favbtn{
    background: #4b7bec;
    color: white;
    border-radius: 7px;
}

.award{
    text-align: left;
    padding-top:5px;
    color: #4b7bec;
    font-size: 15px;
    font-family: tommyMedium, sans-serif;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s linear infinite;
}
@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }

.half{
    float: left;
    width: 49%;
}
.liked{
    color: #eb3b5a;
}
.saved{
    background: #eb3b5a;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 12px;
    color: white;
    position: absolute;
    margin-top: -5px;
}


.blocks .small-title{
    padding-top: 50px;
}
.blocks ul{
    list-style-type: none;
    padding-left: 0px;
}
.blocks li{
    padding-bottom: 20px;
}
.blocks .smallBlock{
    width: 32px;
    border-radius: 5px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-right: 10px;
}

/* Nav */
.topbar{
    height: auto;
    width: 100%;
    background: black;
    padding: 2px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: tommyLight, sans-serif;
    cursor: pointer;
}


.nav-item .active{
    margin-top: 5px;
    height: 4px;
    border-radius: 3px;
    width: 100%;
    background: black;
}

.custom-nav-text .nav-item{
    font-family: tommyMedium, sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-left: 50px;
    padding-top: 10px;
}

.custom-nav-text .nav-link{
    color: black;
    border-bottom: 3px transparent solid;
}

.custom-nav-text .nav-link:hover{
    color: black;
   
    cursor: pointer;
}

.custom-header .float-nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 20px;
}
.custom-toggler .navbar-toggler-icon{
    background-image: url('../images/hamburger-solid.svg');
}

.custom-toggler.navbar-toggler {
    border-color: transparent;
} 
.logo-size{
    width: 240px;
}

@media only screen and (max-width: 900px) {
    .logo-size{
        width: 240px;
    }
    .custom-nav-text .nav-item{
        padding-left: 0px;
    }
}
@media screen and (max-width:900px){
    .backgroundChange{
        background: #00BCE7;
        position: fixed!important;
    }
    .nav-link{
        margin-bottom: 50px;
    }
    
    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0s ease-in;
    }
    
    .navbar-nav {
        height: 100vh !important;
    }
    .centeredContent{
        text-align: center;
        vertical-align: middle;
        line-height: 15px; 
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
}
.btn-theme-nav{
    background: black;
    border-radius: 7px;
    width: 100px;
    padding: 5px;
    color: white !important;
}

.btn-theme-form{
    background: black;
    border-radius: 7px;
    padding: 5px;
    color: white !important;
    font-family: tommyMedium, sans-serif;
}
.form-control{
    border-radius: 7px;
    margin-bottom: 15px;
}


.footer{
    padding-top: 50px;
    border-bottom: black 25px solid;
    padding-bottom: 100px;
}
.line{
    height: 1px;
    width: 100%;
    background: black;
    margin-bottom:50px
}
.footer ul{
    list-style-type: none;
    padding-left: 0px;
}
.footer a{
    color: black;
}
.footer-title{
    font-family: tommyMedium, sans-serif;
    color: black;
    font-size: 20px;
}
.footerText{
    line-height:50px;
}
.social{
    color: black;
    padding-right: 20px;
}


.page-item.active .page-link{
    background-color: black;
    border-color: black;
    color: white;
}

.page-link{
    color: black;
}