/* Global */
@font-face {
    font-family: tommyMedium;
    src: url("../fonts/MADE-Tommy-Medium.otf");
}
@font-face {
    font-family: tommyLight;
    src: url("../fonts/MADE-Tommy-Light.otf");
}
@font-face {
    font-family: tommyBold;
    src: url("../fonts/MADE-Tommy-Bold.otf");
}
body{
    font-family: tommyLight, sans-serif;
    background: white;
}

iframe{
    display: none;
  }

.title{
    font-family: tommyBold, sans-serif;
    font-size: 60px;
    color: black;
    padding-bottom: 30px;
    line-height: 60px;
}
.medium-title{
    font-family: tommyBold, sans-serif;
    font-size: 30px;
    color: black;
}
.small-title{
    font-family: tommyBold, sans-serif;
    font-size: 23px;
    color: black;
    text-align: left;
}
/* Palette Page */
.palettes{
    padding-top: 70px;
    min-height: 80vh;
}
.about{
 background: black;
 height: auto;
 width: 100%;
 color: white!important;
 padding-bottom: 130px;
}
.quickAbout{
    padding-top:130px
}
.aboutTextArea{
    padding: 100px 0px;
    min-height: 40vh;
}

.palette-float{
    padding: 10px 6px 3px 10px;
    border-radius: 7px;
    background: white;
    width: 100%;
    border: #ededed solid 1px;

}
.palette-float-info{
    padding: 15px;
    border-radius: 7px;
    background: white;
    width: 100%;
    height: 490px;
}
.palette-float-large{
    padding: 10px 5px 10px 10px;
    border-radius: 7px;
    background: white;
    width: 100%;
    border: #ededed solid 1px;
}
.paddingFix{
    padding-bottom: 35px;
}

.paddingFixLarge{
    padding-bottom: 540px;
}

.paddingFixLargeCreate{
    padding-bottom: 35px;
}


.paddingFix-large{
    padding-bottom: 520px;
}

@media only screen and (max-width: 1200px) {
    .paddingFix-large{
        padding-bottom: 650px;
    }
    .paddingFix{
        padding-bottom: 35px;
    }
    .palette-float-info{
        margin-bottom: 25px;
    }
    .paddingFixLargeCreate{
        padding-bottom: 35px;
    }
    
}
@media only screen and (max-width: 1000px) {
    .paddingFix-large{
        padding-bottom: 500px;
    }
    .paddingFix{
        padding-bottom: 35px;
    }
    .palette-float-info{
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 760px) {
    .paddingFix-large{
        padding-bottom: 380px;
    }
    .paddingFix{
        padding-bottom: 35px;
    }
    .palette-float-info{
        margin-bottom: 25px;
    }
    .award-area{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .paddingFix-large{
        padding-bottom: 285px;
    }
    .paddingFix{
        padding-bottom: 35px;
    }
    .palette-float-info{
        margin-bottom: 45px;
    }
    
}

.block{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 33%;
    padding: 0px;
    margin: 0px;
    float: left;
    height: auto!important;
    
}

.btn-like{
    padding: 0px;
    background: none;
    border: none;
    margin-top:5px;
    font-family: tommyMedium, sans-serif;
}

.time{
    padding-top:5px;
    color: gray;
    font-size: 15px
    
}

.btn-filter{
    background: black;
    border-radius: 0px;
    height: 34px;
    border-bottom-right-radius: 6px; 
    border-top-right-radius: 6px; 
    color: white;
}
.selectize-input{
    border-radius: 0px!important;
    height: 34px;
    border-bottom-left-radius: 6px!important; 
    border-top-left-radius: 6px!important; 
}

.cursor{
    cursor: pointer;
}

.delete-tag{
    background: #e74c3c;
    color: white;
    display:inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    border: none;
    margin-left:5px;
    margin-top: -1px
}

.filter-tag{
    background: black;
    color: white;
    display:inline-block;
    padding: 1px 10px;
    border-radius: 4px;
 
    margin-bottom: 15px;
}

.favbtn{
    background: #4b7bec;
    color: white;
    border-radius: 7px;
}

.right{
    text-align: right;
    
}

.left{
    text-align: left!important;
    
}

.award{
    padding-top:5px;
    color: #4b7bec;
    font-size: 15px;
    font-family: tommyMedium, sans-serif;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.7) 30%, #000 50%, rgba(0,0,0,.7) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.5s linear infinite;
}
@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }

.half{
    float: left;
    width: 49%;
}
.liked{
    color: #eb3b5a;
}
.saved{
    background: #eb3b5a;
    border-radius: 5px;
    padding: 0px 6px;
    font-size: 12px;
    color: white;
    position: absolute;
    margin-top: -5px;
}


.blocks .small-title{
    padding-top: 40px;
}
.blocks ul{
    list-style-type: none;
    padding-left: 0px;
}
.blocks li{
    padding-bottom: 20px;
}
.blocks .smallBlock{
    width: 32px;
    border-radius: 5px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin-right: 10px;
}

/* Nav */
.topbar{
    height: auto;
    width: 100%;
    background: black;
    padding: 2px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: tommyLight, sans-serif;
    cursor: pointer;
}


.nav-item .active{
    margin-top: 5px;
    height: 4px;
    border-radius: 3px;
    width: 100%;
    background: black;
}

.custom-nav-text .nav-item{
    font-family: tommyMedium, sans-serif;
    font-weight: 900;
    font-style: normal;
    padding-left: 50px;
    padding-top: 10px;
}

.custom-nav-text .nav-link{
    color: black;
    border-bottom: 3px transparent solid;
    margin-top: -5px;
    padding: 0px!important;
}

.custom-nav-text .nav-link:hover{
    color: black;
   
    cursor: pointer;
}

.custom-header .float-nav{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding-top: 20px;
}

.custom-toggler.navbar-toggler {
    border-color: transparent;
} 
.logo-size{
    width: 250px;
}
.logo-size-small{
    width: 46px;
}

@media only screen and (max-width: 900px) {
    .logo-size{
        width: 240px;
    }
    .custom-nav-text .nav-item{
        padding-left: 0px;
    }
}
@media screen and (max-width:900px){
    .backgroundChange{
        background: #00BCE7;
        position: fixed!important;
    }
    .nav-link{
        margin-bottom: 50px;
    }
    
    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 0s ease-in;
    }
    
    .navbar-nav {
        padding-top: 15px;
    }
    .height-nav{
        height: 100vh !important;
        padding-top: 0px;
    }
    .nav-item{
        border-top: 1px solid lightgrey;
        padding: 20px 20px 10px 20px!important;

    }
    .dropdown-menu{
        width: 100%!important;
    }
    .nav-link{
        margin-bottom: 0px;
    }
    .usernameMobile{
        top: 21px;
        position: absolute;
        left: 70px;
    }
    .centeredContent{
        text-align: center;
        vertical-align: middle;
        line-height: 15px; 
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
}
.btn-theme-nav{
    background: black;
    border-radius: 7px;
    width: 100px;
    padding: 5px;
    color: white !important;
}

.btn-theme{
    background: black;
    border-radius: 7px;
    padding: 5px;
    color: white !important;
    font-family: tommyMedium, sans-serif;
}

.btn-theme-small{
    background: black;
    border-radius: 4px;
    padding: 2px 10px;
    color: white !important;
    font-size: 14px;
    font-family: tommyLight, sans-serif;
    margin-top: -5px
}

.btn-theme-google{
    background: #007bff;
    border-radius: 7px;
    padding: 5px;
    color: white !important;
    font-family: tommyMedium, sans-serif;
}
.btn-theme-form{
    background: black;
    border-radius: 7px;
    padding: 5px;
    color: white !important;
    font-family: tommyMedium, sans-serif;
}
.form-control{
    border-radius: 7px;
    margin-bottom: 15px;
}


.footer{
    padding-top: 50px;
    border-bottom: black 25px solid;
    padding-bottom: 100px;
}
.line{
    height: 1px;
    width: 100%;
    background: black;
    margin-bottom:50px
}
.footer ul{
    list-style-type: none;
    padding-left: 0px;
}
.footer a{
    color: black;
}
.footer-title{
    font-family: tommyMedium, sans-serif;
    color: black;
    font-size: 20px;
}
.footerText{
    line-height:50px;
}
.social{
    color: black;
    padding-right: 20px;
}


.page-item.active .page-link{
    background-color: black;
    border-color: black;
    color: white;
}

.page-link{
    color: black;
}

.fImage{
    width: 100%;
    object-fit: cover;
    height: 325px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.fullImage{
    width: 100%;
    object-fit: cover;
    height: 500px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.article{
    width: 100%;
    padding: 20px;
    background: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom:25px;
    border: #ededed solid 1px;
}

.update-pill{
    background: #e74c3c;
    padding: 5px 10px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    font-family: tommyMedium, sans-serif;
}

.subText{
    margin-top: -5px;
    color: gray;
    font-size: 15px;
}

.blogSnip{
    padding-bottom: 10px;
    padding-top:5px;
    margin-top:15px;
    border-bottom: 1px solid #e3e6f0;
}

.user-pill{
    padding: 10px;
    background: #f8f9fc;
    border-radius: 6px;
    border: 1px solid #e3e6f0;
    color: black;
    margin-bottom: 15px;
}

.role-pill{
    display: inline-block;
    color: white;
    padding: 2px 10px;
    font-size: 12px;
    border-radius:4px;
    margin-bottom: 5px;
    font-family: tommyMedium, sans-serif;
}

.feature-pill{
    display: inline-block;
    color: white;
    padding: 0px 10px 3px 10px;
    font-size: 12px;
    border-radius:4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    margin-left: 5px;
    background: white;
    bottom: 0px;
    right: 20px;
}

.favorite{
    display: inline-block;
    color: white;
    padding: 0px 5px 3px 5px;
    font-size: 12px;
    border-radius:4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    margin-left: 5px;
    background: #f1c40f;
    right:50px;
    border: none;
}

.hide{
    display: inline-block;
    color: white;
    padding: 0px 5px 3px 5px;
    font-size: 12px;
    border-radius:4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    margin-left: 5px;
    background: gray;
    right:80px;
    border: none;
}

.delete{
    display: inline-block;
    color: white;
    padding: 0px 6px 3px 6px;
    font-size: 12px;
    border-radius:4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    margin-left: 5px;
    background: #e74c3c;
    right:20px;
    border: none;
}

.unfavorite{
    display: inline-block;
    color: white;
    padding: 0px 5px 3px 5px;
    font-size: 12px;
    border-radius:4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 999;
    margin-top: 5px;
    margin-left: 5px;
    background: black;
    right:20px;
    border: none;
}

.dropdown-toggle::after{
    content: none;
}

.btn-save{
    border: none;
    background: none;
    color: gray;
    font-family: tommyMedium, sans-serif;
}

.btn-unsave{
    border: none;
    background: none;
    font-family: tommyMedium, sans-serif;
    color: #2ecc71;
    padding-left: 0px
}
.savesFloat{
    position: absolute;
    margin-top:6px;
    right: 28px;
    text-align: right;
}

.profile-float{
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom:25px;
    border: #ededed solid 1px;
}
.user-info{
    margin-left: 90px;
    margin-top: 7px;
}

.profile-notes {
    border-top: 1px dashed #666;
    margin: 0 -12px;
    padding: 12px 12px 0;
    margin-top:15px;
    font-size: 15px;
}
.award-box{
    
}

.postUser{
    font-family: tommyMedium, sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
}

.userRank{
    font-size:10px;
    padding: 1px 4px;
    border-radius: 2px;
    color: white;
    top: -2px;
    position: relative;

}
.userLink{
    color: black;
}
.userLink:hover{
    color: black;
    text-decoration: none;
}


.flex-thirds{
    display: flex;
    align-items: flex-start; 
}
.subtext{
    height: 30px;
}

.block-pill{
    background: black;
    color: gray;
    display: inline-block;
    padding: 3px 6px;
    margin-bottom: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out all .2s;
}

.block-pill:hover{
    text-decoration: none;
    scale: 1.1;
}

.block-pill b{
    color: white;
}

.reset-panel{
    margin-top:150px;
    background: white;
    text-align: center;
    padding: 30px 30px 15px 30px;
    border-radius: 8px;
}

.error-badge{
    background: #e74c3c;
    color: white;
    padding: 3px 20px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom:15px;
}

@media only screen and (min-width: 1200px) {
    .insertBlocks{
        padding-top:75px;
    }
}

.theme-link{
    color: black;
}
.theme-link:hover{
    color: black;
}
.tiny-text{
    font-size: 12px;
    margin-bottom: 10px;
}

.bs-example{
    margin-bottom:-25px;
    width: 100%;
}


@media only screen and (max-width: 1000px) {
    .nav-item{
        width: 100%;
    }
    .dropdown .nav-link{
        margin-bottom: 15px;
    }
    .nav-item .btn {
        margin-top:35px;
    }
}


.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background: white;
    border-bottom: #ededed solid 1px;
}


.dropdown-menu{
    width: 275px;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    top: 54px;
    background: #f5f5f5;
}
.dropdown-divider{
    border-color: lightgrey;
}
.dropdown-item{
    padding: 10px 20px;
}
.dropdown-item:hover{
 background: #ebebeb;
}

.user-mgmt-float{
    padding: 10px 10px 5px 10px;
    background: #f8f9fc;
    border-radius: 6px;
    border: 1px solid #e3e6f0;
    color: black;
    margin-bottom: 10px;
    font-family: tommyMedium, sans-serif;
}




.profile-pic{
    height: 40px;
    border-radius: 6px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.profile-pic-small{
    height: 25px;
    border-radius: 3px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.profile-pic-large{
    height: 80px;
    border-radius: 6px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    float:left;
}

.award-icon{
    padding-top: 5px;
}

.selected-image{
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.status-bar{
    background: #e74c3c;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.result{
   background: white;
    border-radius: 4px;
    z-index: 999;
    width: 90%;
    position: absolute;
    right:10px
}

.result .nav-link{
    padding: 0px!important;
}